
@font-face {
  font-family: "VT323";
  src: url(VT323-Regular.ttf);
}
@font-face {
  font-family: "RobotoCondensed";
  src: url(RobotoCondensed-VariableFont_wght.ttf);
}
:root {
  --dark-pink: #e00;
  --darkest-pink: #900;
  --border: #800;
}
body {
  margin:0px;
  padding:0px;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: VT323;
  font-size: 1.3rem;
  background:#111;
  color: #f5f5f5;
}
body:after {
  position: absolute;
  display:block;
  content: " ";
  left:0;
  width: 100%;
  height: clamp(0.5rem, 1.5vw + 0px, 1rem);
  top: 0rem;
  z-index: -1;
  clip-path: polygon(0 0%, 100% 0%, 100% 20%, 0 100%);
  transform: rotate(0deg);
  transform-origin: left center;
  background: linear-gradient(to right, var(--darkest-pink), var(--dark-pink));
}
a {
  color: var(--dark-pink);
}
h1,h2,h3 {
  text-transform: uppercase;
  text-align:left;
  font-family:VT323;
}
h1 {
  background: url(transkaotisk.svg) no-repeat top left;
  background-size: 15rem;
  padding: 13rem 2rem 0.5rem;
  margin: 0rem 0 0 0;
  font-size: clamp(1.5rem, 4vw + 1rem, 5rem);
  line-height: clamp(1.5rem, 4vw + 1rem, 4rem);
  line-height: 4rem;
  font-family:RobotoCondensed;
  letter-spacing:clamp(8px, 2.5vw + 1px, 40px);
  text-shadow: -9px 9px 0 #700;
  position: relative;
  transform: rotate(-1.4deg);
  transform-origin: left center;
}
h1:after {
  position: absolute;
  display:block;
  content: " ";
  left:0;
  width: 100%;
  height: clamp(15px, 2vw + 1px, 25px);
  bottom: clamp(0rem, -2vw - 0.1rem, -2.4rem);
  z-index: -1;
  clip-path: polygon(0 40%, 100% 0%, 100% 100%, 0 60%);
  background: linear-gradient(to right, pink, white);
}
h1 a {
  color: #f5f5f5;
  text-decoration: none;
}
h2 {
  margin: 0;
  padding: 0.5rem 1.5rem 0;
  font-size:2.5rem;
  color: pink;
  position: relative;
  transform: rotate(-1deg);
  transform-origin: left center;
}
h2:after {
  position: absolute;
  display:block;
  content: " ";
  left:0;
  width: 100%;
  height: clamp(15px, 2vw + 1px, 25px);
  bottom: clamp(0rem, -2vw - 0.1rem, -2.4rem);
  z-index: -1;
  clip-path: polygon(0 100%, 100% 60%, 100% 40%, 0 0%);
  background: linear-gradient(to right, var(--border), pink);
}
footer {
  margin: 0;
  padding: 1.5rem;
  font-size:1.5rem;
  display: flex;
  justify-content: flex-start;
  color: black;
  gap: 2rem;
  position: relative;
}
footer:after {
  position: absolute;
  display:block;
  content: " ";
  left:0;
  width: 100%;
  height: clamp(15px, 2vw + 1px, 25px);
  bottom: clamp(0rem, -2vw - 0.1rem, -2.4rem);
  z-index: -1;
  clip-path: polygon(0 40%, 100% 0%, 100% 100%, 0 60%);
  transform: rotate(1deg);
  transform-origin: left center;
  background: linear-gradient(to right, pink, white);
}
h3 {
  font-size: 2rem;
  margin: 0 0 1rem;
}
article {
  max-width: 1400px;
  margin:0 auto;
}
.columns {
  display:flex;
  padding: 0 15px;
}
.columns section {
  width: 33.333%;
}
@media (max-width:750px) {
  .columns {
    flex-direction: column;
    padding: 0;
  }
  .columns section {
    width: auto;
  }
}
#manifesto section {
  padding: 1.5rem 1.5rem 50px;
}
article p {
  white-space:pre-wrap;
}
article.single p {
  padding: 1.5rem;
  max-width: 720px;
  margin: 0 auto;
}
picture img {
  margin: 15px auto;
  display: block;
  width: 75vw;
  max-width: 100%;
}
em {
  font-size:130%;
  font-weight: bold;
}
ul {
  list-style:none;
  padding: 30px 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
li {
  max-width: 700px;
  padding: 10px;
  border-bottom: 1px solid var(--border);
  box-shadow: 0 -1px 0 var(--border);
  text-indent: 4rem hanging;
}
#lang-sel {
  display: flex;
  justify-content: flex-start;
  padding: 1.5rem;
}
#lang-sel>* {
  padding: 7px;
  font-family:VT323;
  font-size: 1.9rem;
  line-height: 1.1rem;
}
#lang-sel .current {
  font-weight: bold;
  border: 3px solid;
  border-image: linear-gradient(to bottom, var(--darkest-pink), var(--dark-pink)) 1;
}
.two-col {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  max-width: 1400px;
  margin:0 auto;
}
.two-col>* {
  flex:1;
}
@media (max-width:650px) { .two-col { flex-direction: column; gap: 20px; } }

